<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="/static/homepage.css">
</head>
<body>
    <div class="heading">
        Grocery Store Application
    </div>
    <div class="options">
        <button onclick="location.href='/user/login';" class="btn">User Login</button>
        <button onclick="location.href='/manager/login';" class="btn">Manager Login</button>
        <button onclick="location.href='/signup';" class="btn">Sign Up</button><br>
    </div>
</body>
</html>